.home-btn {
  background-color: #2563eb;
  width: 66px;
  height: 32px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #ffffff;
}

.not-found-page {
  background-color: #161625;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-content {
  text-align: center;
}

.covid-error-image {
  height: 159.69522094726562px;
  width: 242px;
  border-radius: 0px;
}

.not-found-msg {
  color: #e2e8f0;
  font-size: 16px;
  margin-top: 24px;
}

.not-found-description {
  font-size: 12px;
  color: #94a3b8;
  line-height: 20px;
  width: 290px;
}

@media screen and (min-width: 768px) {
  .covid-error-image {
    height: 155.7319030761719px;
    width: 224px;
    border-radius: 0px;
  }

  .not-found-msg {
    color: #e2e8f0;
    font-size: 20px;
    margin-top: 24px;
  }

  .not-found-description {
    font-size: 18px;
    color: #94a3b8;
    line-height: 20px;
    width: 483px;
    line-height: 32px;
  }
  .home-btn {
    width: 68px;
    height: 34px;
    font-size: 13px;
  }
}

@media screen and (min-width: 992px) {
  .covid-error-image {
    height: 295.7319030761719px;
    width: 448px;
    border-radius: 0px;
  }

  .not-found-msg {
    color: #e2e8f0;
    font-size: 32px;
    margin-top: 24px;
  }

  .not-found-description {
    font-size: 20px;
    color: #94a3b8;
    line-height: 20px;
    width: 483px;
    line-height: 32px;
  }
  .home-btn {
    width: 88px;
    height: 44px;
    font-size: 14px;
  }
}
