.home-page {
  background-color: #161625;
  min-height: 100vh;
  min-width: 100vw;
}
.home-content {
  padding: 24px;
  background-color: transparent;
  width: 100%;
}

.search-box {
  height: 48px;
  width: 312px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  background-color: #2f2f43;
  display: flex;
  align-items: center;
}

.links:hover {
  color: #f9fafc;
}

.country-stats-container {
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.input-container {
  width: 260px;
}

.input-element {
  height: 48px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #64748b;
}

.search-icon {
  color: #94a3b8;
  font-size: 20px;
  margin-left: 16px;
  margin-right: 8px;
}

.loader-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.filterlist-container {
  padding-left: 0px;
}

.state-wise-data-card {
  border: 1px solid #475569;
  border-radius: 8px;
  background-color: #1e1e30;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  padding: 10px;
}

.tab-item-confirmed {
  list-style-type: none;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  height: 128px;
  width: 128px;
  color: #ff073a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.tab-item-active {
  color: #007bff;
  list-style-type: none;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  height: 128px;
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.tab-item-recovered {
  list-style-type: none;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  height: 128px;
  width: 128px;
  color: #28a745;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.tab-item-deceased {
  list-style-type: none;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  height: 128px;
  width: 128px;
  color: #6c757d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.tab-item-confirmed:hover {
  background-color: #331427;
}

.tab-item-active:hover {
  background-color: #132240;
}
.tab-item-recovered:hover {
  background-color: #182829;
}
.tab-item-deceased:hover {
  background-color: #212230;
}

.tag {
  font-size: 12px;
}

.confirmed-tag {
  color: #ff073a;
}

.active-tag {
  color: #007bff;
}
.recovered-tag {
  color: #28a745;
}

.deceased-tag {
  color: #6c757d;
}

.count {
  font-size: 16px;
}

.state-wise-stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 32px;
}
.header-line {
  border: 1px solid #475569;
  width: 100%;
}
.header-icons-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 94px;
}
.state-name-heading {
  font-size: 16px;
  color: #f8fafc;
  font-weight: 500;
}
.sort-buttons-container {
  display: flex;
}
.sort-icons {
  height: 20px;
  width: 20px;
  color: #94a3b8;
}
.sorting-buttons {
  border: none;
  background-color: transparent;
  margin: 0px;
}
.state-item {
  list-style-type: none;
  font-size: 16px;
  color: #f8fafc;
  font-weight: 500;
  margin-left: 94px;
}

.state-item-ut-header {
  list-style-type: none;
  font-size: 10px;
  color: #f8fafc;
  font-weight: 500;
  padding-left: 0px;
  margin-right: 10px;
  display: flex;
}

.stats-headers {
  font-size: 16px;
  color: #f8fafc;
  font-weight: 500;
}

.state-ut-header {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-right: 4px;
}

.sort-icons {
  margin: 0px;
}

.stats-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style-type: none;
  margin-bottom: 10px;
}

.state-wise-data-count-container {
  width: 100%;
  padding-left: 32px;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  border-top: 1px solid #475569;
}

.confirmed-header {
  color: #ff073a;
  width: 40px;
  margin-left: 160px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
}
.active-header {
  color: #007bff;
  width: 40px;
  margin-left: 160px;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.recovered-header {
  color: #28a745;
  width: 40px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-left: 140px;
}
.deceased-header {
  color: #6c757d;
  width: 40px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-left: 140px;
}
.population-header {
  color: #94a3b8;
  width: 40px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-left: 160px;
}

.name-header {
  color: #f9fafc;
  margin: 0px;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.option {
  text-decoration: none;
}
.option-item {
  display: flex;
  padding: 10px;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.option-name:hover {
  color: #94a3b8;
}
.option-item:hover {
  background-color: #1f1f30;
}

.state-code-container {
  width: 63px;
  background-color: rgba(28, 212, 212, 0.16);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 43px;
}

.right-arrow {
  color: #facc15;
  font-size: 18px;
}

.option-state-code {
  color: #facc15;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
}

.option-name {
  color: #64748b;
  font-size: 16px;
}

.covid-select-card {
  margin-top: 48px;
}

.links {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
  }
  .search-box {
    width: 600px;
    height: 56px;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .input-container {
    width: 600px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .input-element {
    font-size: 16px;
  }
  .search-icon {
    font-size: 24px;
  }
  .loader-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .tab-item-confirmed {
    width: 264px;
    height: 243px;
  }
  .tab-item-active {
    width: 264px;
    height: 243px;
  }
  .tab-item-recovered {
    width: 264px;
    height: 243px;
  }
  .tab-item-deceased {
    width: 264px;
    height: 243px;
  }
  .tag {
    font-size: 16px;
  }
  .count {
    font-size: 24px;
  }
  .country-wise-count-image {
    height: 38px;
    width: 38px;
  }
  .option-item {
    width: 504px;
    height: 44px;
  }
  .option-name:hover {
    color: #94a3b8;
  }
  .option-item:hover {
    background-color: #1f1f30;
  }
}

@media screen and (min-width: 992px) {
  .home-content {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-box {
    height: 72px;
    width: 824px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    padding-right: 24px;
  }
  .input-element {
    font-size: 16px;
  }
  .input-container {
    height: 72px;
    width: 824px;
  }
  .search-icon {
    font-size: 24px;
  }
  .option-item {
    width: 824px;
    height: 64px;
  }
  .option-name:hover {
    color: #94a3b8;
  }
  .option-item:hover {
    background-color: #1f1f30;
  }
}

/* covid state table css */

.state-info-table {
  border-collapse: collapse;
}

.table-header-row {
  border-bottom: 1px solid #475569;
}

.sorting-buttons {
  background-color: transparent;
  border: none;
  outline: none;
}

.sorting-buttons:hover {
  border-bottom: 1px solid #007bff;
}

.sorting-buttons-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.sort-icon {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: #475569;
}

.table-headers-title-confirmed {
  font-size: 16px;
  color: #f9fafc;
}

.table-headers-title-confirmed:hover {
  font-size: 16px;
  color: #ff073a;
}

.table-headers-title-active {
  font-size: 16px;
  color: #f9fafc;
}

.table-headers-title-active:hover {
  font-size: 16px;
  color: #007bff;
}

.table-headers-title-recovered {
  font-size: 16px;
  color: #f9fafc;
}

.table-headers-title-recovered:hover {
  font-size: 16px;
  color: #28a745;
}

.table-headers-title-deceased {
  font-size: 16px;
  color: #f9fafc;
}

.table-headers-title-deceased:hover {
  font-size: 16px;
  color: #6c757d;
}

.table-headers-title-population {
  font-size: 16px;
  color: #f9fafc;
}

.table-headers-title-population:hover {
  font-size: 16px;
  color: #94a3b8;
}

.table-headers-title-state {
  font-size: 16px;
  color: #f9fafc;
}

.info-table {
  background: transparent;
  border-radius: 12px;
  border: 1px solid #475569;
  margin-inline: auto;
}
.state-table-row {
  border-collapse: separate;
  border-spacing: 0 15px;
}
.state-details {
  display: flex;
  align-items: center;
}
.data {
  font-size: 14px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}
.state-name {
  color: #f9fafc;
}
.state-confirmed-count {
  color: #ff073a;
  text-align: center;
}
.state-active-count {
  color: #007bff;
  text-align: center;
}
.state-recovered-count {
  color: #28a745;
  text-align: center;
}
.state-deceased-count {
  color: #6c757d;
  text-align: center;
}
.state-population-count {
  color: #94a3b8;
  text-align: center;
}

.table-header {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 32px;
  padding-left: 32px;
}

.links {
  text-decoration: none;
  color: #f1f5f9;
}

.states-count-list-container {
  padding-left: 0px;
}

.states-count-list-item {
  list-style-type: none;
}

.table-content {
  margin-top: 0px;
  overflow-x: auto;
}

@media screen and (min-width: 768px) {
  .info-table {
    width: 1146px;
    border-radius: 12px;
    border-collapse: collapse;
  }
  .table-content {
    margin-top: 0px;
  }
}

/* covid select css */
.covid-select-card {
  margin-bottom: 0px;
}

.country-stats-container {
  padding-left: 0px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 0px;
}

.tab-item {
  list-style-type: none;
  background-color: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 140px;
  border-radius: 8px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.heading-tag {
  font-size: 24px;
  color: #94a3b8;
}

.confirmed-cases {
  background-color: #331427;
}
.active-cases {
  background-color: #132240;
}
.recovered-cases {
  background-color: #182829;
}
.deceased-cases {
  background-color: #212230;
}
.confirmed-tag {
  color: #ff073a;
}
.active-tag {
  color: #007bff;
}
.recovered-tag {
  color: #28a745;
}
.deceased-tag {
  color: #6c757d;
}

.tag {
  font-size: 12px;
}
.country-wise-count-image {
  height: 24px;
  width: 24px;
}
.check-mark-image-container {
  text-align: center;
}
.count {
  font-size: 16px;
  margin-top: 18px;
}

.top-districts-container {
  padding-left: 0px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-district-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.top-district-name-confirmed {
  color: #94a3b8;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  margin-left: 16px;
}
.top-district-name-active {
  color: #94a3b8;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  margin-left: 16px;
}
.top-district-name-recovered {
  color: #94a3b8;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  width: 100%;
  margin-left: 16px;
}
.top-district-name-deceased {
  color: #94a3b8;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  width: 100%;
  margin-left: 16px;
}

.top-district-cases-confirmed {
  color: #94a3b8;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 500;
}
.top-district-cases-active {
  color: #94a3b8;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 500;
}
.top-district-cases-recovered {
  color: #94a3b8;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 500;
}
.top-district-cases-deceased {
  color: #94a3b8;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 500;
}

.top-district-cases-deceased:hover {
  color: #6c757d;
}
.top-district-cases-confirmed:hover {
  color: #ff073a;
}
.top-district-cases-active:hover {
  color: #007bff;
}
.top-district-cases-recovered:hover {
  color: #28a745;
}
.top-district-name-deceased:hover {
  color: #6c757d;
}
.top-district-name-confirmed:hover {
  color: #ff073a;
}
.top-district-name-active:hover {
  color: #007bff;
}
.top-district-name-recovered:hover {
  color: #28a745;
}

@media screen and (min-width: 768px) {
  .tab-item {
    height: 162px;
    width: 164px;
    border-radius: 12px;
    padding-left: 0px;
  }
  .tag {
    font-size: 14px;
  }
  .count {
    font-size: 20px;
  }
  .country-wise-count-image {
    height: 32.48313522338867px;
    width: 35.21348190307617px;
    border-radius: 0px;
  }
  .country-stats-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  .covid-select-page {
    min-width: 768px;
  }
  .top-districts-container {
    flex-wrap: wrap;
  }
  .top-district-item {
    width: 250px;
    color: #94a3b8;
  }

  .top-district-name-confirmed {
    color: #94a3b8;
    font-size: 16px;
    font-weight: 500;
    width: 135px;
    line-height: 18.75px;
  }
  .top-district-name-active {
    color: #94a3b8;
    font-size: 16px;
    font-weight: 500;
    width: 135px;
    line-height: 18.75px;
  }
  .top-district-name-recovered {
    color: #94a3b8;
    font-size: 16px;
    font-weight: 500;
    width: 135px;
    line-height: 18.75px;
  }
  .top-district-name-deceased {
    color: #94a3b8;
    font-size: 16px;
    font-weight: 500;
    width: 135px;
    line-height: 18.75px;
  }

  .top-district-cases-confirmed {
    color: #94a3b8;
    font-size: 24px;
    line-height: 18.75px;
    font-weight: 500;
  }
  .top-district-cases-active {
    color: #94a3b8;
    font-size: 24px;
    line-height: 18.75px;
    font-weight: 500;
  }
  .top-district-cases-recovered {
    color: #94a3b8;
    font-size: 24px;
    line-height: 18.75px;
    font-weight: 500;
  }
  .top-district-cases-deceased {
    color: #94a3b8;
    font-size: 24px;
    line-height: 18.75px;
    font-weight: 500;
  }

  .heading-tag {
    font-size: 32px;
  }
  .top-district-cases-deceased:hover {
    color: #6c757d;
  }
  .top-district-cases-confirmed:hover {
    color: #ff073a;
  }
  .top-district-cases-active:hover {
    color: #007bff;
  }
  .top-district-cases-recovered:hover {
    color: #28a745;
  }
  .top-district-name-deceased:hover {
    color: #6c757d;
  }
  .top-district-name-confirmed:hover {
    color: #ff073a;
  }
  .top-district-name-active:hover {
    color: #007bff;
  }
  .top-district-name-recovered:hover {
    color: #28a745;
  }
}

@media screen and (min-width: 992px) {
  .tab-item {
    height: 232px;
    width: 264px;
    border-radius: 12px;
    padding-left: 0px;
  }
  .tag {
    font-size: 16px;
  }
  .count {
    font-size: 24px;
  }
  .country-wise-count-image {
    height: 32.48313522338867px;
    width: 35.21348190307617px;
    border-radius: 0px;
  }
  .country-stats-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  .covid-select-page {
    width: 1146px;
    padding-top: 50px;
  }
  .top-district-name {
    color: #94a3b8;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
  }

  .top-district-cases {
    color: #94a3b8;
    font-size: 24px;
    line-height: 19px;
    font-weight: 500;
  }
  .heading-tag {
    font-size: 32px;
  }
}
