.footer-logo {
  font-size: 20px;
  color: #f8fafc;
  font-family: 'Bree Serif';
  margin-bottom: 12px;
}

.span-logo {
  color: #3b82f6;
}

.footer-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 48px;
}

.motto {
  color: #94a3b8;
  font-size: 14px;
  margin: 0px;
  font-weight: 400;
}

.footer-logo-containers {
  display: flex;
  margin-top: 24px;
}

.social-media-icons {
  width: 22px;
  height: 25px;
  color: #cbd5e1;
  margin-right: 12px;
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    font-size: 24px;
    color: #f8fafc;
    font-family: 'Bree Serif';
  }
  .motto {
    color: #94a3b8;
    font-size: 16px;
  }
  .social-media-icons {
    height: 46.10595703125px;
    width: 42px;
    color: #cbd5e1;
    margin-right: 25px;
    margin-left: 25px;
  }
  .footer-page {
    margin-top: 120px;
  }
}
